---
season: 2023 - 2024
results: false
date: 2023-08-01
eleventyComputed:
  name: '{{ season }}'
  title: '{{ league }} | {{ season }}'
  eleventyNavigation:
    parent: '{{ league }}'
    key: '{{ season }}'
---