article [href^='http']:not([href*='localhost']) {
    padding-inline-end: 0.8em;
}
  
article
    [href^='http']:not([href*='localhost'], .no-indicator)::after {
    position: absolute;
    display: inline-block;
    inline-size: 1em;
    block-size: 1em;
    background-image: url('/assets/images/icons/icn-external.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;

    /* alternative text rules */
    content: '(external link)';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em; /* the width of the icon */
}

.header-anchor {
  @media screen and (min-width: 700px) {
    text-decoration: none;
    float: left;
    margin-left: -1.4em;
    padding-right: 0.4em;
    position: absolute;
    line-height: 1.3;
  }
}
  
.header-anchor {
  @media screen and (min-width: 700px) and (hover: hover) {
    visibility: hidden;

    h2:hover &,
    h3:hover &,
    h4:hover &,
    h5:hover &,
    h6:hover &,
    .header-anchor:focus & {
        visibility: visible;
    }
  }
}
