---
season: 2022 - 2023
results: https://suburbanaquatic.org/index.php/2022-2023-meet-results/
date: 2022-10-01
notes: The results from the original SAL archive are incomplete and not organized by division, I did my best to sort it out.
eleventyComputed:
  name: '{{ season }}'
  title: '{{ league }} | {{ season }}'
  eleventyNavigation:
    parent: '{{ league }}'
    key: '{{ season }}'
---