---
title: Suburban Aquatic League
name: Suburban Aquatic League
homepage: https://suburbanaquatic.org
results: https://suburbanaquatic.org/index.php/meet-results-archive/
description: Founded in 1968 the Suburban Aquatic League consists of several age-group swim teams in the suburbs surrounding Philadelphia. It was founded as an alternative winter league that emphasized dual meet competition over the championship format of the Amateur Athletic Union (now USA) meets.
tags: ['league', 'sal']
layout: league
eleventyNavigation:
  parent: Leagues
  key: Suburban Aquatic
pagination:
  data: collections.salSeasons
  size: 100
  alias: seasons
  reverse: true
---