---
title: SAL 2023 - 2024
name: 2023 - 2024
season: 2023-2024
results: https://suburbanaquatic.org/index.php/2023-2024-sal-meet-results/
date: 2023-10-01
eleventyNavigation:
  parent: Suburban Aquatic
  key: 2023 - 2024
---

