{# Macros for displaying swim meets and meet related things #}

{% import "../macros/results.njk" as results %}

{# list all meets for a given event and gender by division #}
{% macro listGenderMeets(event, gender, page) %}
  <table class="table-auto w-full not-prose text-center border-0">
    {% for division in gender.division %}
      {% if division.name != "none" %}
        <tr>
          <td class="capitalize bg-neutral-600">
            {{ division.name }}
          </td>
        </tr>
      {% endif %}
      {% for meet in division.meets %}
        <tr>
          <td class="hover:bg-neutral-800 hover:text-neutral-content">{{ results.resultLinkDual(event, meet, gender, page) }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endmacro %}

{# list all "double dual" meets for a given event #}
{% macro listDoubleMeets(event, doubles, page, only=false) %}
  {% if not only %}
    <tr class="table-row border-neutral border-b-2 bg-neutral-700">
      <th class="border border-neutral-600" colspan="2">Double Duals</th>
    </tr>
    {% for division in doubles.division %}
      {% if division.name != "none" %}
        <tr class="table-row border border-neutral-600 p-0">
          <td colspan="2" class="capitalize bg-neutral-600">
            {{ division.name }}
          </td>
        </tr>
      {% endif %}
      {% for meet in division.meets %}
        <tr class="border border-neutral-600 p-0">
          <td colspan="2" class="hover:bg-neutral-800 hover:text-neutral-content">
            {{ results.resultLinkDual(event, meet, doubles, page) }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  {% elseif only %}
    {% for division in doubles.division %}
      <tr>
        <th>{{ division.name }}</th>
      </tr>
      {% for meet in division.meets %}
        <tr>
          <td>{{ meet.home }} vs. {{ meet.away }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{# list results for an invitational #}
{% macro listInvitational(event, page) %}
  {{ results.resultLinkInvite(event, page) }}
{% endmacro %}

{# list results for an b-champs #}
{% macro listBChamps(event, page) %}
  {% for result in event.results %}
    <tr class="table-row border border-neutral-600 p-0">
      <td class="capitalize bg-neutral-600">
        {{ result.division }}
      </td>
    </tr>
    <tr class="border border-neutral-600 p-0">
      <td class="hover:bg-neutral-800 hover:text-neutral-content">
        {{ results.resultLinkBChamps(event, result, page) }}
      </td>
    </tr>
  {% endfor %}
{% endmacro %}