---
layout: base
---
{# layout for a general purpose page #}
<div class="max-w-prose mx-auto xl:my-8 my-4 xl:text-xl">
  <article class="mt-6 prose prose-slate mx-auto xl:prose-xl px-2">
    {{content | safe}}
  </article>
</div>