---
season: 2023
results: false
date: 2023-05-01
eleventyComputed:
  name: '{{ season }}'
  title: '{{ league }} | {{ season }}'
  eleventyNavigation:
    parent: '{{ league }}'
    key: '{{ season }}'
---

