---
season: 2022 - 2023
results: false
date: 2022-08-01
eleventyComputed:
  name: '{{ season }}'
  title: '{{ league }} | {{ season }}'
  eleventyNavigation:
    parent: '{{ league }}'
    key: '{{ season }}'
---