---
season: 2023 - 2024
results: https://suburbanaquatic.org/index.php/2023-2024-sal-meet-results/
date: 2023-10-01
eleventyComputed:
  name: '{{ season }}'
  title: '{{ league }} | {{ season }}'
  eleventyNavigation:
    parent: '{{ league }}'
    key: '{{ season }}'
---