---
layout: page
title: Leagues
tags: page
eleventyNavigation:
  key: Leagues
  order: 2
---
{# This will list all of the leagues on the site, only shows if user clicks the root of the league navigation #}
<h1>League Listing</h1>
{% for league in collections.league %}
  <h2>
    <a class="link link-hover" href="{{ league.url }}">{{ league.data.name }}</a>
  </h2>
  <h4>
    <a href="{{ league.data.homepage }}">Homepage</a>
  </h4>
  <p>{{ league.data.description }}</p>
{% endfor %}