<h3 class="prose prose-xl text-center">League Structure</h3>
{% set leagueStructure = structure | first %}
{% if leagueStructure == 'conferences' %}
  {% include "partials/seasonConferencesDivider.njk" %}
{% elseif leagueStructure == 'divisions' %}
  {% include "partials/seasonDivisionsTable.njk" %}
{% elseif leagueStructure == 'teams' %}
  {% set teams = structure.teams %}
  {% include "partials/seasonTeamsTable.njk" %}
{% else %}
  <h1>This condition should not happen.</h1>
{% endif %}