{% if leagueStructure == 'divisions' %}
  {% set divisions = structure.divisions %}
{% else %}
  {% set divisions = conference.divisions %}
{% endif %}
<table class="table-fixed w-full not-prose text-center">
    {% for division in divisions %}
      <tr class="table-row border-neutral border-b-4 last:border-b-0 bg-neutral-700">
        <td class="w-1/6 p-0 text-xl text-neutral-content">
            <div class="-rotate-90 capitalize">{{ division.name }}</div>
        </td>
        <td class="w-5/6 p-0">
          {% include "partials/seasonTeamsTable.njk" %}
        </td>
      </tr>
    {% endfor %}
</table>