{# Figure out if its a gendered week or all doubles #}
{% if event.girls and event.boys %}
  {% set girls = event.girls %}
  {% set boys = event.boys %}
  {% set genderMeets = true %}
{% endif %}

{# Init double duals if we have any #}
{% if event.doubles %}
  {% set doubles = event.doubles %}
{% endif %}

{% import "../macros/meets.njk" as meets %}

<table class="table-fixed w-full not-prose text-center">
  <thead>
    <tr class="table-row border-neutral border-b-2 bg-neutral-700">
      {# Two columns if gendered, one if not. #}
      {% if genderMeets %}
        <th class="border border-neutral-600">Boys</th>
        <th class="border border-neutral-600">Girls</th>
      {% else %}
        <th class="border border-neutral-600">Double Duals</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if genderMeets %}
    <tr class="table-row">
      <td class="border border-neutral-600 p-0">
        {{ meets.listGenderMeets(event, boys, page) }}
      </td>
      <td class="border border-neutral-600 p-0">
        {{ meets.listGenderMeets(event, girls, page) }}
      </td>
    </tr>
      {% if doubles %}
        {{ meets.listDoubleMeets(event, doubles, page) }}
      {% endif %}
    {% else %}
      {{ meets.listDoubleMeets(event, doubles, page, true) }}
    {% endif %}
  </tbody>
</table>